［作って学ぶ］ブラウザのしくみ

# Book information
| | |
| --- | --- |
| Title | ［作って学ぶ］ブラウザのしくみ |
| Subtitle | HTTP、HTML、CSS、JavaScript の裏側 |
| Author | 土井 麻未（どい あさみ） |

# Implementation
https://github.com/pasca-l/simple-browser

# Content Notes
## ブラウザを知る
### ブラウザの役割
Browser has three core roles:
1. Client that connects to servers via internet
2. HTML and CSS rendering engine 
3. JavaScript executing engine

HTML, as a source code of strings, gets processed first to 6 types of tokens: `DOCTYPE`, `start tag`, `end tag`, `comment`, `string`, `EOF (End Of File)`. Tokens are then converted into a DOM (Document Object Model) tree, structured from nodes, implementations fulfilling the `Node` interface, defined in the [DOM Living Standard](https://dom.spec.whatwg.org/).

CSS, also gets processed first to 24 types of tokens, defined in [CSS Syntax Module Level 3](https://www.w3.org/TR/css-syntax-3/): such as `ident-token`, `{-token`, `}-token`, `colon-token`, `semicolon-token`, `delim-token`, `number-token`, `hash-token`, and etc. Tokens are then converted into [CSSOM (CSS Object Model)](https://www.w3.org/TR/cssom-1/) tree, structured from nodes, implementing interfaces such as `CSSStyleSheet`.

JavaScript, also gets processed first to tokens, defined in [ECMAScript 2024 Language Specification](https://262.ecma-international.org/), under [ECMAScript Language: Lexical Grammar](https://tc39.es/ecma262/2024/#sec-ecmascript-language-lexical-grammar): such as `IdentifierName`, `ReservedWord`, `Punctuator`, `NumericLiteral`, `StringLiteral`, and etc. Tokens are then converted into AST (Abstract Syntax Tree), structured from nodes, which is defined in BNF (Backus-Naur Form) notation.
```
// example of BNF notation for [`VariableDeclaration`](https://tc39.es/ecma262/2024/#sec-variable-statement)
VariableDeclaration :
  BindingIdentifier Initializer
  BindingPattern Initializer
```

### コアの役割を支えるためのさらなる機能
Storages in browsers allow the web application to explicitly manage data for user. Cookie can store user's authentication information and website settings, which [RFC 6265](https://datatracker.ietf.org/doc/html/rfc6265#section-6.1) specifies the limits of the Cookie implementation. [Local storage](https://developer.mozilla.org/en-US/docs/Web/API/Window/localStorage), defined in the Web Storage API, enables permanent preservation of key-value data of the same origin. Likewise, [session storage](https://developer.mozilla.org/en-US/docs/Web/API/Window/sessionStorage) also keeps key-value data, but gets deleted on closing tabs or windows.

PWA (Progressive Web App) allows mobile application experience from web technologies. This works with [Service Worker](https://developer.mozilla.org/en-US/docs/Web/API/Service_Worker_API), which captures requests to servers and decides on whether to respond from cache or network, so that the user can use the app offline.

### マルチプロセスアーキテクチャ
Processes are instances of running programs. Each process have independent memory areas, so IPC (Inter-Process Communication) is necessary if needing such data. Browsers usually have browser process and render process, which the browser process manages data and network connections, and the render process processes HTML, CSS and JavaScript. The process is split due to security reason, as resources for rendering may be malicious so should not be able to access the same memory.

Threads, in contrast to processes, allow virtual parallel processing for improved responsiveness, with shared memory. [Worker](https://developer.mozilla.org/en-US/docs/Web/API/Worker/Worker) threads can be used via JavaScript, to implement multi-thread processing.

### ブラウザのセキュリティ対策
Site Isolation, is a mechanism that prevents resources attacking other websites by isolating each website resource on its own process. `Same-site` is given when the scheme, top level domain and eTLD+1 is the same, and `Cross-site` otherwise.
| URL1 | URL2 | |
| --- | --- | --- |
| https://www.example.com:443 | https://abc.example.com:80 | `Same-site`, as "www" or "abc", and port number does not matter |
| https://www.example.com:443 | http://www.example.com:443 | `Cross-site`, as HTTP scheme differs |
| https://www.example.com:443 | https://www.evil.com:443 | `Cross-site`, as eTLD+1 differs |

Same Origin Policy, is a mechanism that restricts access to resources between different origins. `Same-origin` is given when the scheme, host, and the port number is the same, and `Cross-origin` otherwise. This prevents XSS (Cross Site Scripting), and CSRF (Cross Site Request Forgeries). Generally loading from cross-origin is restricted, but can be set with CORS (Cross-Origin Resource Sharing) setting.
| URL1 | URL2 | |
| --- | --- | --- |
| https://www.example.com:443 | https://www.example.com:443 | `Same-origin` |
| https://www.example.com:443 | https://www.example.com:80 | `Cross-origin`, as port number differs |

CSP (Content Security Policy), is a policy for the webpage to load the source of the resource. CSP can be defined in the HTTP response header, as `Content-Security-Policy`, or in the HTML meta tag.

## URL を分解する
The basic syntax of an URL is as following:
```
<scheme>://<host>:<port>/<path>?<searchpart>
```

## HTTP を実装する
### HTTP のバージョンの違い
With HTTP/1.0, only 1 TCP connection is established for a pair of request and response, and TCP required a three-way handshake, which reduced the performance for multiple TCP connections. With HTTP/1.1, published in 1997 by [RFC 2068](https://datatracker.ietf.org/doc/html/rfc2068), 2 features are introduced: keep-alive, and pipelining. Keep-alive reuses the TCP after the connection establishment. Pipelining allows multiple requests without waiting for a response, but requires the response to be given in order, which leads to possible HOL (Head Of Line) blocking.

With HTTP/2, published by [RFC 7540](https://datatracker.ietf.org/doc/html/rfc7540) and later modified by [RFC 9113](https://datatracker.ietf.org/doc/html/rfc9113) in 2022, multiple features are introduced: multiplexing, header compression, server push, prioritization, and flow control. Multiplexing creates a virtual connection over TCP called streams that allows multiple requests and responses, resulting in less request waiting time and actual TCP connections. Header compression uses HPACK for reducing data traffic. Server push sends resource to clients beforehand, but is not supported on Chrome browsers as of 2022 due to large overheads, low usage, and vulnerability for placing a load on the client device. Prioritization deals with which request to send back earlier. Flow control looks at the capacity of the client and adjusts the data amount.

With HTTP/3, published by [RFC 9114](https://datatracker.ietf.org/doc/html/rfc9114), bases the QUIC (Quick UDP Internet Connection) protocol. QUIC uses UDP but also has a high reliability as TCP, by resending lost packages and using sequencing for data order.

## HTML を解析する
### HTML の字句解析
HTML tokenizer follows the algorithm defined in the [HTML Living Standard](https://html.spec.whatwg.org/). Below covers 18 states, but actually there are 80.
```mermaid
stateDiagram-v2
    [*] --> Data
    Data --> [*]
    
    % Data State Transitions
    Data --> TagOpen: c == '<'
    
    % Tag-related State Transitions
    TagOpen --> EndTagOpen:  c == '/'
    TagOpen --> TagName: c.is_ascii_alphabetic()
    TagOpen --> Data: else
    EndTagOpen --> TagName: c.is_ascii_alphabetic()
    TagName --> BeforeAttributeName: c == ' '
    TagName --> SelfClosingStartTag: c == '/'
    TagName --> Data: c == '>'
    
    % AttributeName-related State Transitions
    BeforeAttributeName --> AfterAttributeName: c == ('/' || '>' || EOF)
    BeforeAttributeName --> AttributeName: else
    AttributeName --> AfterAttributeName: c == (' ' || '/' || '>' || EOF)
    AttributeName --> BeforeAttributeValue: c == '='
    AfterAttributeName --> SelfClosingStartTag: c == '/'
    AfterAttributeName --> BeforeAttributeValue: c == '='
    AfterAttributeName --> Data: c == '>'
    AfterAttributeName --> AttributeName: else
    
    % AttributeValue-related State Transitions
    BeforeAttributeValue --> AttributeValueDoubleQuoted: c == '"'
    BeforeAttributeValue --> AttributeValueSingleQuoted: c == '\''
    BeforeAttributeValue --> AttributeValueUnquoted: else
    AttributeValueDoubleQuoted --> AfterAttributeValueQuoted: c == '"'
    AttributeValueSingleQuoted --> AfterAttributeValueQuoted: c == '\''
    AttributeValueUnquoted --> BeforeAttributeName: c == ' '
    AttributeValueUnquoted --> Data: c == '>'
    AfterAttributeValueQuoted --> BeforeAttributeName: c == ' '
    AfterAttributeValueQuoted --> SelfClosingStartTag: c == '/'
    AfterAttributeValueQuoted --> Data: c == '>'
    AfterAttributeValueQuoted --> BeforeAttributeValue: else
    
    % SelfClosingStartTag Transition
    SelfClosingStartTag --> Data: c == '>'

    % Script-related State Transitions
    ScriptData --> ScriptDataLessThanSign: c == '<'
    ScriptDataLessThanSign --> ScriptDataEndTagOpen: c == '/'
    ScriptDataLessThanSign --> ScriptData: else
    ScriptDataEndTagOpen --> ScriptDataEndTagName: c.is_ascii_alphabetic()
    ScriptDataEndTagOpen --> ScriptData: else
    ScriptDataEndTagName --> Data: c == '>'
    ScriptDataEndTagName --> TemporaryBuffer: else
    TemporaryBuffer --> ScriptData: buf.chars().count() == 0
```

### HTML の構文解析
HTML parser follows the algorithm defined in the [DOM Living Standard](https://dom.spec.whatwg.org/) to generate the tree structure. Below covers 9 states, but actually there are 23.
```mermaid
stateDiagram-v2
    [*] --> Initial
    Initial --> BeforeHtml: if !HtmlToken.Char
    BeforeHtml --> BeforeHead: if HtmlToken.StartTag.tag == ("html" || !EOF)
    BeforeHead --> InHead: if HtmlToken.StartTag.tag == ("head" || !EOF)
    InHead --> Text: if HtmlToken.StartTag.tag == ("style" || "script")
    InHead --> AfterHead: if HtmlToken.StartTag.tag == "body" || HtmlToken.EndTag.tag == "head"
    AfterHead --> InBody: if HtmlToken.StartTag.tag == ("body" || !EOF)
    InBody --> AfterBody: if HtmlToken.StartTag.tag == ("html" || "body")
    Text --> InHead: if HtmlToken.EndTag.tag == ("style" || "script")
    AfterBody --> AfterAfterBody: if HtmlToken.EndTag.tag == "html"
    AfterBody --> InBody: else
    AfterAfterBody --> InBody: any
    AfterAfterBody --> [*]
```

## CSSを装飾する
CSS properties are listed in the [W3C - List of CSS properties, both proposed and standard](https://www.w3.org/Style/CSS/all-properties.en.html). Each specification has one of the following status: FPWD (First Public Working Draft), WD (Working Draft), CRD (Candidate Recommendation Draft), CR (Candidate Recommendation), PR (Proposed Recommendation), REC (Recommendation).

## JavaScript を動かす
JavaScript engine follows the definition written in EBNF (Extended Backus-Naur Form) defined in the [ECMAScript 2024 Language Specification](https://262.ecma-international.org/). Below is a simplified version of the JavaScript engine, which contains variable declaration, addition and subtraction.
```
Program ::= ( SourceElements )? <EOF>
SourceElements ::= ( SourceElement )+
SourceElement ::= FunctionDeclaration | Statement

FunctionDeclaration ::= "function" Identifier ( "(" ( FormalParameterList )? ")" ) FunctionBody
FormalParameterList ::= Identifier ( "," Identifier )*
FunctionBody ::= "{" ( SourceElements )? "}"

Statement ::= ReturnStatement | VariableStatement | ExpressionStatement
ReturnStatement ::= "return" ( Expression )? ( ";" )?
VariableStatement ::= "var" VariableDeclaration ( ";" )?
VariableDeclaration ::= Identifier ( Initializer )?
Initializer ::= "=" AssignmentExpression

ExpressionStatement ::= AssignmentExpression ( ";" )?
AssignmentExpression ::= BinaryExpression ( "=" BinaryExpression )*
BinaryExpression ::= LeftHandSideExpression ( AdditiveOperator AssignmentExpression )*
AdditiveOperator ::= <"+"> | <"-">

LeftHandSideExpression ::= CallExpression | MemberExpression
CallExpression ::= MemberExpression Arguments
Arguments ::= "(" ( ArgumentList )? ")"
ArgumentList ::= AssignmentExpression ( "," AssignmentExpression )*

MemberExpression ::= PrimaryExpression ( "." Identifier )*
PrimaryExpression ::= Identifier | Literal
Identifier ::= <identifier name>
<identifier name> ::= (& | _ | a-z | A-Z) (& | a-z | A-Z)*
Literal ::= <string> | <digit>+
<string> ::= " (a-z | A-Z)* "
<digit> ::= 0 | 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9
```